h1 {
    font-weight: bold;
}

h2 {
    color: purple;
}

.sidebar ul {
   list-style: none; 
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.main {
    width: 80%;
    max-width: 1920px;
    height: 100%;
    position: relative;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px; 
  }


  /* Dummy CSS for Divs in index.html. Please feel free to add any divs to index.html when necessary! */
  .indexOverview, .groupOverview {
    background-color: #B9DCDC;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    width: 100%;
  }

  .groups, .todoLists {
    background-color: white;
    padding-left: 1.5rem;
    
  }

  


    /* End dummy css */

  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

footer {
  text-align: center;
  margin-left: 210px;
  padding: 1px 16px;
  background-color: #B9DCDC;
  color: black;
}



form {
  background-color: #B9DCDC;
  max-width: 600px;
  padding: 25px;
}

form label {
  font-size: 15px;
  padding-top: 5px;
  display:block;

}