{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <div class="formContent">
        <h2>TodoItem <span id="name">{{ todoItem.name }}<span></h2>
        <p>This TodoItem belongs to Group <b><a href="/{{group.name}}"><span id="groupName">{{ group.name }}</span></a></p></b>
        <p>This TodoItem belongs to TodoList <b><a href="/{{group.name}}/{{todoList.name}}"><span id="todoListName">{{ todoList.name }}</span></a></b> </p>
        <p>Importance Level: {{todoItem.importanceLevel}}</p>
        <p>Deadline: <span> {{todoItem.deadline}}</span></p>

        {% if todoItem.description %}
            <p>Description: <span> {{todoItem.description}}</span></p>
        {% else %}
            <p>Description: <span>N/A</span></p>
        {% endif %}
        {% if todoItem.completed %}
            <p>This todoItem was completed on {{todoItem.completedDate}}</p>
        {% endif %}
        <button onclick="location.href='/add/{{group.name}}/{{todoList.name}}'">Add More Items</button>
        <button onclick="location.href='/edit/{{group.name}}/{{todoList.name}}/{{todoItem.name}}'">Edit TodoItem</button>
        <br>
        <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>
        <button id="delete">Delete</button>

        {% if todoItem.completed == False %}
        <button id="completed">Mark Complete</button>
        {% else %}
        <button id="uncompleted">Mark Uncomplete</button>
        {% endif %}
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){

                var name = $("#name").text();
                var groupName = $("#groupName").text();
                var todoListName = $("#todoListName").text();

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "todoItem",
                        "groupName": groupName,
                        "todoListName": todoListName,
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("class", "formContent");
                            g.innerHTML = "This TodoItem is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })
            }

        });

        $("#completed").click(function () {
            var name = $("#name").text();

            $.ajax({
                url: "/ajax/completed",
                data: {
                    "name": name,
                },
                dataType: "json",
                success: function(data){
                    location.reload();
                }
            })
        });


        $("#uncompleted").click(function () {
            var name = $("#name").text();

            $.ajax({
                url: "/ajax/uncompleted",
                data: {
                    "name": name,
                },
                dataType: "json",
                success: function(data){
                    location.reload();
                }
            })
        });
    </script>


{% endblock %}