{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'calendarApp/style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Calendar App</title>{% endblock %}
  <!--<link rel="shortcut icon" href="% static 'calendarApp/favicon.ico' %}"/>-->
</head>
<body>

    {% block siteTitle %}
    
    {% endblock %}
    {% block navigation %}
        <div class='sidebar'>
            <ul>
                <li>
                    <div class="logoPadding">
                    <a href="/"><img src="{% static 'calendarApp/calendarAppLogo1.png' %}" alt="Logo for Calendar Application" style="height: 100px;"></a>
                    </div>
                </li>
                <li>
                    <h2>TodoList Count</h2>
                    <div class= 'sidebarOverview'>
                    <ul>
                    <li><strong>Groups:</strong> {{ num_Groups }}</li>
                    <li><strong>Todo List:</strong> {{ num_TodoList }}</li>
                    <li><strong>Todo Item:</strong> {{ num_TodoItem }}</li>
                    </ul>
                    </div>
                </li>
                <li><a href="/makeNewGroup">Make New Group</a></li>
                <li><a href="/makeNewTodoList">Make New Todo List</a></li>
                <li><a href="/makeNewTodoItem">Make New Todo Item</a></li>
                <!--<li><a href="javascript:history.go(-1)">Previous Page</a></li>-->
            </ul>
        </div>

    {% endblock %}
    {% block sidebar %}<!-- insert default sidebar text for every page -->{% endblock %}
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}

<footer>
    <p>&copy Lee, McClintock, & McCraney 2021</p>
</footer>

</body>
</html>