{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <div class="formContent">
            <h2>Statistics</h2>
            <p>Number of Tasks Completed in:</p>
            <div class="stat">
                <ul>
                    <li>Today: {{todayCount}}</li><br>
                    <li>Week: {{weekCount}}</li><br>
                    <li>30 Days: {{thirtyCount}}</li><br>
                    <li>Year: {{yearCount}}</li><br>
                </ul>
            </div>
            {% if todoItems%}
                <h2>Completed Items</h2>

                <ul>
                {% for todoItem in todoItems %}
                <div class="stat">
                <li><a href="/{{todoItem.todoList.group}}/{{todoItem.todoList}}/{{todoItem.name}}">{{todoItem.name}}</a></li>
                {% endfor %}
                </div>
                </ul>
            {% else %}
                <p>You have no completed Items</p>
            {% endif %}
        
        </div>
    </div>
</div>
{% endblock %}
