{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <h2>Group <span id="name">{{ group.name }}<span></h2>
            {% if todoLists%}
            <p>This group has these todoLists:</p>
            <ol>
                {% for todoList in todoLists %}
                <li><a href="/{{group.name}}/{{todoList.name}}">{{ todoList.name }}</a></li>
                {% endfor %}
            </ol>

            {% else %}
            <p>There is no todoLists for this group</p>
            {% endif %}

            <button id="delete">Delete</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){

                var name = $("#name").text();
                console.log(name);

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "group",
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("id", "message");
                            g.innerHTML = "This Group is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })

            }
        });
    </script>
{% endblock %}