{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <div class="formContent">
        {% if todoLists %}
        <h2>TodoLists in Group {{ group.name }}</h2>
            <div class="groupOverview">
                {% for todoList in todoLists %}
                <div class="todoLists">
                    <p><a href="/{{group.name}}/{{todoList.name}}">{{ todoList.name }}</a></p>
                        <ul>
                            {% for todoItem in todoItems %}
                                {% if todoItem.getTodoList == todoList.name %}
                                    <li><a href="/{{group.name}}/{{todoList.name}}/{{todoItem.name}}">{{ todoItem.name }}
                                    {% if todoItem.deadline%} (Deadline: {{todoItem.deadline}}) {% endif %}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
                {% endfor %}

            </div>


        </div>

        {% else %}
            <p>There is no todoLists for this group</p>
        {% endif %}
        <br>

            <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>

            <button onclick="location.href='/edit/{{group.name}}'">Edit Group</button>

            <button onclick="location.href='/add/{{group.name}}'">Add New TodoList</button>

            <button id="delete">Delete</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){

                var name = $("#name").text();
                console.log(name);

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "group",
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("class", "formContent");
                            g.innerHTML = "This Group is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })

            }
        });
    </script>
{% endblock %}