{% extends "base_generic.html" %}


{% block content %}

<div class="content">
  <div class="main">
    <h2>TodoList Count</h2>
    <ul>
      <li><strong>Groups:</strong> {{ num_Groups }}</li>
      <li><strong>Todo List:</strong> {{ num_TodoList }}</li>
      <li><strong>Todo Item:</strong> {{ num_TodoItem }}</li>
    </ul>

    <h2>Group Overview</h2>


    {% if groups %}
      <div class="indexOverview">

        {% for group in groups %}
          <div class="groups">
            <p><a href="/{{group.name}}">{{group.name}}</a></p>

            <ul class="todoList">
            
            {% for todoList in todoLists %}  
              {% if todoList.getGroup == group.name %}
                <li><a href="/{{todoList.group}}/{{todoList.name}}">{{todoList.name}}</a></li>
              {% endif %}
            {% endfor %}

            </ul>

          </div>
        {% endfor %}

      </div>

      <button onclick="location.href='/makeNewGroup'">Add New Group</button>

    {% endif %}



  </div>
</div>
{% endblock %}