{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class='formContent'>
    <h2>Make New Group</h2>
    <form action="/makeNewGroup" method="post">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>
        <input type="submit" value="Submit">
    </form>
    </div>
    <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>
</div>
{% endblock %}