{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <div class="formContent">
        <h2>TodoList <span id="todoListName">{{ todoList.name }}</span></h2>
            <p>This TodoList belongs to <b><a href="/{{group.name}}"><span id="groupName">{{ group.name }}</span></a></b> </p>
            <h2>Items in this list</span></h2>
            {% if todoItems%}
            <table id="myTable">
                <tr>
                    <th id="listName"><u>Name</u></th>
                    <th id="importanceLevel"><u>Importance Level</u></th>
                    <th id="deadline"><u>Deadline</u></th>
                </tr>         
            {% for todoItem in todoItems %}
                <tr>
                    <td><a href="/{{todoItem.todoList.group}}/{{todoItem.todoList}}/{{todoItem.name}}">{{todoItem.name}}</a></td>
                    <td>{{todoItem.importanceLevel}}</td>
                    <td>{{todoItem.deadline}}</td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>You have no items in this List.</p>
            {% endif %}

            <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>
            <button onclick="location.href='/add/{{group.name}}/{{todoList.name}}'">Add New Item</button>
            <button onclick="location.href='/edit/{{group.name}}/{{todoList.name}}'">Edit TodoList</button>
            <button id="delete">Delete</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){

                var name = $("#todoListName").text();

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "todoList",
                        "group": $("#groupName").text(),
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("class", "formContent");
                            g.innerHTML = "This TodoList is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })

            }
        });
    </script>
{% endblock %}