{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
    <h2>TodoList <span id="name">{{ todoList.name }}<span></h2>
        <p>This TodoList belongs to <a href="/{{group.name}}"><span> {{ group.name }}</span></a> </p>
        {% if todoItems %}
        <h2>TodoItem Overview</h2>
        <ul>
            {% for todoItem in todoItems %}
            <li><a href="/{{group.name}}/{{todoList.name}}/{{todoItem.name}}">{{ todoItem.name }}</a></li>
            {% endfor %}
        </ul>

        {% else %}
        <p>There is no todoItems for this todoLists</p>
        {% endif %}

        <button onclick="location.href='/makeNewTodoItem'">Add New Item</button>

        <button id="delete">Delete</button>
    </div>

</div>
{% endblock %}
{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){


                var name = $("#name").text();

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "todoList",
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("id", "message");
                            g.innerHTML = "This TodoList is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })
            }
        });
    </script>
{% endblock %}