{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="detail">
        <div class="formContent">
        <h2>TodoItem <span id="name">{{ todoItem.name }}<span></h2>
        <p>This TodoItem belongs to Group <a href="/{{group.name}}"><span> {{ group.name }}</span></a></p>
        <p>This TodoItem belongs to todoList <a href="/{{group.name}}/{{todoList.name}}"><span> {{ todoList.name }}</span></a> </p>
        <p>Deadline: <span> {{todoItem.deadline}}</span></p>

        {% if todoItem.description %}
        <p>Description: <span> {{todoItem.description}}</span></p>
        {% else %}
        <p>Description: <span>N/A</span></p>
        {% endif %}
        <button onclick="location.href='javascript:history.go(-1)' ">Previous Page</a></button>
        <button onclick="location.href='/edit/{{group.name}}/{{todoList.name}}/{{todoItem.name}}'">Edit TodoItem</button>
        <button id="delete">Delete</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
    <script>
        $("#delete").click(function () {
            if (window.confirm("Are you sure that you want to delete?")){

                var name = $("#name").text();
                console.log(name);

                $.ajax({
                    url: "/ajax/delete",
                    data: {
                        "name": name,
                        "type": "todoItem",
                    },
                    dataType: "json",
                    success: function(data){
                        if (data.isDeleted){
                            $(".detail").remove()

                            g = document.createElement('p');
                            g.setAttribute("id", "message");
                            g.innerHTML = "This TodoItem is deleted";
                            
                            $(".content").append(g);

                        }
                    }
                })
            }

        });
    </script>
{% endblock %}