{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <h2>TodoList <span>{{ todoList.name }}<span></h2>
        <p>This TodoList belongs to <a href="/{{group.name}}"><span> {{ group.name }}</span></a> </p>
        {% if todoItems %}
        <p>This todoList has these todoItems:</p>
        <ol>
            {% for todoItem in todoItems %}
            <li><a href="/{{group.name}}/{{todoList.name}}/{{todoItem.name}}">{{ todoItem.name }}</a></li>
            {% endfor %}
        </ol>

        {% else %}
        <p>There is no todoItems for this todoLists</p>
        {% endif %}
</div>
{% endblock %}